# Chef server settings
chef_server:
    host: 10.10.10.8
    version: 12
    user: myuser
    key_file: myuser_chef.pem
    key: null
    organization: test

# device42 settings
device42:
    host: myname.device42.com
    user: myname
    pass: mypassword

# custom fields mapping
# mapping:
#    # chef field / device42 field
#    memory:
#        vmalloc_used: test_field
#    platform: test_field2
#    filesystem: test_field3

# static options
static:
    customer: null
    customer_id: null
    service_level: null

options:
    # as_node_name: one of [fqdn, name]
    show_node: True
    as_node_name: fqdn
    hostname_precedence: True
    node_filter: []
